.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: $-s-xxl $-s-sm;
    padding-top: 80px;
    width: 100%;
    max-width: 1180px;
    
    &--center {
        justify-content: center;
    }

    @include bp-lg {
        padding: $-s-xxxl $-s-xxl;
    }
}