.post {

    margin-bottom: $-s-xxl;

    &__title {
        font-size: 4rem;
        font-weight: $-t-semi;
        padding: $-s-lg 0;
    }

    &__user {
        color: $-c-gray-40;
        opacity: 0.8;
    }

    &__date {
        color: $-c-green;
        font-size: 1.7rem;
        margin-bottom: $-s-xxl;
    }

    &__body {
        margin-bottom: $-s-sm;
    }

    &-edit {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__title {
            min-height: 100px;
            resize: none;
            overflow-x: scroll;
        }
        
        &__body {
            min-height: 250px;
            overflow-x: scroll;
            resize: none;
        }
    }
}