.btn {
    border: none;
    border-radius: $-s-xxxs;
    cursor: pointer;
    font-weight: $-t-semi;
    font-size: 2rem;
    padding: $-s-xs;
    transition: 0.2s;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0px 0px 5px 0px $-c-green;
    }
    
    &--success {
        background-color: $-c-green;
        color: $-c-white;
    }

    &-action {
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 1.5rem;
        margin-top: $-s-xxxs;
        margin-left: $-s-xxs;
        text-decoration: underline;
        transition: 0.2s;
        
        &:hover {
            color: $-c-gray-40;
        }
        
        &--delete:hover {
            color: $-c-red-20;
        }
        
        &--menu {
            margin-top: 0;
            margin-left: 0;
            font-size: 2rem;
            text-align: center;
        }

        &--menu {
            color: $-c-red;
        }
    }

    &-back {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        border: none;
        border-radius: 50%;
        background-color: $-c-green;
        cursor: pointer;
        height: $-s-xxl;
        width: $-s-xxl;
        bottom: $-s-xs;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;

        &:hover {
            transform: translate(-50%, -2px);
        }

        @include bp-lg {
            display: none;
        }
    }
}