* {
    box-sizing: border-box;
}

html {
    font-size: 8px;
}



body {
    @include colors();
    
    background-color: $-c-body;
    color: $-c-text;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: $-t-regular;
    line-height: 1.4;
    transition: all 0.2s;
}