@mixin colors {
    --c-body: #e9e9e9;
    --c-text: #202630;
    --c-green: #4c9596;
    --c-red: #b63e35;
    --c-gray: #555a74;
    --c-yellow: #fdd261;
    --c-white: #ffffff;
    --c-black: #000;

    

    &[data-dark-mode] {
        --c-body: #202630;
        --c-text: #e9e9e9;
        --c-green: #30947b;
        --c-red: #a03028;
        --c-gray: #4d5063;
        --c-yellow: #e2b74a;
    }
}

$-c-body: var(--c-body);
$-c-text: var(--c-text);
$-c-green: var(--c-green);
$-c-red: var(--c-red);
$-c-gray: var(--c-gray);
$-c-white: var(--c-white);
$-c-black: var(--c-black);
$-c-yellow: var(--c-yellow);